* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --primaryTwo: linear-gradient(90deg, rgba(142,12,12,1) 0%, rgba(50,2,2,1) 47%, rgba(139,8,8,1) 100%);
  --primaryTree: rgba(142,12,12,1);
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}